contracts/package-lock.json
contracts/node_modules
contracts/artifacts
contracts/cache
contracts/.env

frontend/.next
frontend/node_modules
frontend/package-lock.json
frontend/.env

backend/node_modules
backend/.env
backend/package-lock.json

image/Recording.mp4
Recording.mp4