.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  gap: 2rem;
}
.top_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: -webkit-fill-available;
  padding: 1rem;
}
.top_box > h1 {
  margin: 0;
  padding: 0;
  font-size: var(--ft-800);
  font-weight: 600;
  color: var(--primary-color);
  text-transform: capitalize;
}
.top_box > p {
  margin: 0;
  padding: 0;
  font-size: var(--ft-500);
  font-weight: 400;
  color: var(--light-grey-color);
  max-width: 800px;
}
.bottom_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  position: relative;
}
.create_work_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: -webkit-fill-available;
  padding: 2rem;
}
.create_work_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grey-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  gap: 1rem;
  padding-bottom: 3rem;
}
.create_work_item > h2 {
  margin: 0;
  padding: 0;
  font-size: var(--ft-700);
  text-transform: capitalize;
  font-weight: 600;
  color: var(--black-color);
}
.create_work_item > h2 > svg {
  width: var(--ft-700);
  height: var(--ft-700);
  margin-right: 0.5rem;
  color: var(--primary-color);
}
.create_work_item_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: -webkit-fill-available;
}
.create_work_item_details > h4 {
  margin: 0;
  padding: 0;
  font-size: var(--ft-450);
  font-weight: 400;
  color: var(--black-color);
  max-width: 400px;
}
.create_work_item_details > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.create_work_item_details > ul > li {
  margin: 0;
  padding: 0;
  font-size: var(--ft-400);
  font-weight: 400;
  color: var(--black-color);
}
.create_work_item_details > ul > li > svg {
  width: var(--ft-450);
  height: var(--ft-450);
  margin-right: 0.2rem;
  color: var(--primary-color);
}
.image {
  position: absolute;
  bottom: 2rem;
  right: -13rem;
  z-index: -10;
}
.image > img {
  width: 500px;
  height: 300px;
  object-fit: contain;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.buttons > a {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-size: var(--ft-400);
  font-weight: 400;
  color: var(--white-color);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.buttons > a:hover {
  background-color: var(--btn-active-color);
}

@media screen and (max-width: 900px) {
  .image > img {
    width: 400px;
    height: 250px;
  }
  .create_work_items {
    flex-direction: column;
  }
  .image {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .image {
    display: none;
  }
}
